---
sidebar_position: 3
title: Verifying Randomness
---

This document details how parachains can efficiently verify that the randomness received is correct based on public parameters. 

```
```   